.ex{
    background-color: #0000ff;
    color: #FFF;
}
.title{
    
    display: block;
    width: 190px;
    
    
    justify-content: center;
    align-self: center;
}
.title > div:first-child{
    padding: 1px 2px;
    background-color: #0000ff;
}

.title > div:last-child{
    font-size: 42px;
}