.container{
    display: grid;
    grid-template-columns: 300px auto 300px;
    grid-template-rows: 100vh;
}
.container > div{
    max-height: 100vh;
    height: 100%;
}
.container > div p{

}

.main-con{
    display: grid;
    grid-template-rows: 64px 200px auto;
}

.header{
    display: grid;
    background: #e91e63;

    grid-template-columns: 100px auto 100px;
}
.mat-toolbar.mat-primary{
    background: #e91e63;
}

.mat-tab-group {
    
    flex-grow: 1;
}
