<div class="container">
  <div>
    
  </div>
  <div class="main-con">
    <div class="header">
      <div></div>
      <div>
        <mat-toolbar color="primary">
          <mat-toolbar-row>
            <span>Welcome to Adda!!</span>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
      <div>
        
      </div>
    </div>
    <div class="flex">
      <mat-tab-group>
        <mat-tab label="Meet with team">
          <h1>Storyboard</h1>
        </mat-tab>
        <mat-tab label="Team Assignments">
          
        </mat-tab>
      </mat-tab-group>
    </div>
    <div></div>
  </div>
  <div>
    
  </div>
</div>